<p><%= t('.salutation', first_name: @user.first_name, last_name: @user.last_name) %>,</p>

<p><%= t('.instruction') %></p>

<p><%= link_to main_app.edit_user_password_url(@user, reset_password_token: @password_token),
               main_app.edit_user_password_url(@user, reset_password_token: @password_token) %></p>

<p><%= t('.ending') %></p>

<p><%= t('.greeting') %></p>
