<p><%= t('.salutation', first_name: @user.first_name, last_name: @user.last_name) %>,</p>

<p><%= t('.instruction') %></p>

<p><%= link_to edit_admin_initial_password_url(reset_password_token: @password_token),
               edit_admin_initial_password_url(reset_password_token: @password_token) %></p>

<p><%= t('.ending') %></p>

<p><%= t('.greeting') %></p>
