<!DOCTYPE html>
<%= content_tag(:html, lang: I18n.locale) do %>
<head>
  <title><%= @page_title.presence || 'Pageflow' %></title>

  <%= javascript_include_tag "pageflow/application", "data-turbolinks-track" => true %>

  <%= csrf_meta_tags %>
  <%= render 'layouts/pageflow/meta_tags' %>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, minimum-scale=1, maximum-scale=1" />
  <meta name="apple-mobile-web-app-capable" content="yes" />

  <%= yield :head %>

  <%= stylesheet_link_tag 'pageflow/print_view', media: 'print', 'data-turbolinks-track' => true %>
  <%= render 'layouts/pageflow/loading_spinner_inline_script' %>

  <%= render 'layouts/pageflow/ie_include_tags' %>
</head>
<%= content_tag :body, :class => [@body_class, 'load_images has_no_mobile_platform non_js'].compact.flatten.join(' ') do %>
  <script>
    jQuery('body').removeClass('load_images');
    jQuery("body").removeClass('non_js').addClass('js');
  </script>
  <%= yield %>
<% end %>
<% end %>
