<div class="blackLayer"></div>
<div class="content_and_background audioPage">

  <div class="backgroundArea">
    <%= background_image_div(configuration, 'background_image') %>
    <%= shadow_div :opacity => configuration['gradient_opacity'] %>
  </div>

  <div class="page_header">
    <h2>
      <span class="tagline"><%= configuration['tagline'] %></span>
      <span class="title"><%= configuration['title'] %></span>
      <span class="subtitle"><%= configuration['subtitle'] %></span>
    </h2>
    <%= background_image_tag(configuration['background_image_id'], {:class => "print_image"}) %>
  </div>

  <div class="content">
    <div class="scroller">
      <div>
        <div class="contentWrapper">
          <div class="contentText audioPage">
            <p class="non_js_audio">
              <%= audio_file_non_js_link(configuration['audio_file_id']) %>
            </p>
            <p><%= raw configuration['text'] %></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%= audio_file_script_tag(configuration['audio_file_id'], :unique_id => page.id) %>
</div>
