<div class="blackLayer"></div>
<div class="content_and_background audioLoopPage">

  <div class="backgroundArea">
    <%= background_image_div(configuration, 'background_image') %>
    <%= shadow_div :opacity => configuration['gradient_opacity'] %>
  </div>

  <div class="page_header">
    <%= render partial: "page_headers", locals: {
      tagline: configuration['tagline'],
      title: configuration['title'],
      subtitle: configuration['subtitle']} %>
    <%= background_image_tag(configuration['background_image_id'], {:class => "print_image"}) %>
  </div>

  <div class="content">
    <div class="scroller">
      <div>
        <div class="contentWrapper">
          <div class="contentText audioLoopPage">
            <p class="non_js_audio">
              <%= audio_file_non_js_link(entry, configuration['audio_file_id']) %>
            </p>
            <p><%= raw configuration['text'] %></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%= audio_file_script_tag(configuration['audio_file_id'], :unique_id => page.id) %>
</div>
