<div class="blackLayer"></div>
<div class="content_and_background internal_links_page">
  <div class="backgroundArea">
    <%= background_image_div(configuration, 'background_image') %>
    <%= shadow_div :opacity => configuration['gradient_opacity'] %>
  </div>
  <div class="content scroller">
    <div>
      <div class="contentWrapper">
        <div class="page_header">
          <h2>
            <span class="tagline"><%= configuration['tagline'] %></span>
            <span class="title"><%= configuration['title'] %></span>
            <span class="subtitle"><%= configuration['subtitle'] %></span>
          </h2>
          <%= background_image_tag(configuration['background_image_id'], {"class" => "print_image"}) %>
        </div>
        <div class="contentText">
          <p><%= raw configuration['text'] %></p>
        </div>
        <%= content_tag :nav, :data => {:layout => configuration['linked_pages_layout']} do %>
          <ul class="page_links">
            <% 1.upto(25).each do |index| %>
              <%= page_thumbnail_item(configuration['linked_page_ids'], index, configuration['linked_pages_layout']) %>
            <% end %>
          </ul>
        <% end %>
      </div>
    </div>
  </div>
</div>
