<div class="blackLayer"></div>
<div class="content_and_background videoPage">
  <div class="page_header">
    <h2>
      <span class="tagline"><%= configuration['tagline'] %></span>
      <span class="title"><%= configuration['title'] %></span>
      <span class="subtitle"><%= configuration['subtitle'] %></span>
    </h2>
    <%= poster_image_tag(configuration['video_file_id'], configuration['poster_image_id'], {:class => "print_image"}) %>
  </div>
  <div class="backgroundArea">
    <div class="videoWrapper">
      <%= lookup_video_tag(configuration['video_file_id'], configuration['poster_image_id'],
                           :mobile_poster_image_id => configuration['mobile_poster_image_id'],
                           :unique_id => page.id, :preload => page.is_first) %>
    </div>
    <%= shadow_div :opacity => configuration['gradient_opacity'] %>
  </div>
  <div class="content">
    <div class="controls">
      <span class="hint">Video</span>
      <%= info_box(configuration) %>
    </div>
    <div class="scroller">
      <div>
        <div class="contentWrapper">
          <div class="contentText">
            <p><%= raw configuration['text'] %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
