<%= admin_form_for [:admin, resource] do |f| %>
  <% account_config = Pageflow.config_for(f.object) %>

  <%= f.inputs do %>
    <%= f.input :name %>
    <%= f.input :default_file_rights %>

    <% account_config.admin_form_inputs.find_all_for(:account).each do |form_input| %>
      <%= form_input.build(f) %>
    <% end %>
  <% end %>

  <%= f.semantic_fields_for :default_theming do |theming| %>
    <%= f.inputs do %>
      <%= theming.input :cname, hint: t('pageflow.admin.themings.cname_hint') %>
      <%= theming.input :additional_cnames, hint: t('pageflow.admin.themings.additional_cnames_hint') %>
      <%= theming.input :home_url, hint: t('pageflow.admin.themings.home_url_hint') %>
    <% end %>

    <%= f.inputs do %>
      <%= theming.input :imprint_link_label %>
      <%= theming.input :imprint_link_url %>
      <%= theming.input :copyright_link_label %>
      <%= theming.input :copyright_link_url %>
      <%= theming.input :privacy_link_url %>

      <% account_config.admin_form_inputs.find_all_for(:theming).each do |form_input| %>
        <%= form_input.build(theming) %>
      <% end %>
    <% end %>
  <% end %>

  <p>
      <%= t('pageflow.admin.accounts.entry_template_hint') %>
  </p>

  <%= f.actions do %>
    <%= f.action(:submit) %>
    <%= f.action(:cancel, :wrapper_html => {:class => 'cancel'}) %>
  <% end %>

  <script id="theme_options" type="application/json">
    <%= themes_options_json_seed(account_config) %>
  </script>
<% end %>
