<!DOCTYPE html>
<%= content_tag(:html, lang: I18n.locale) do %>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="theme-color" content="#000000" />
    <meta
      name="description"
      content="Pageflow Next Showcase"
    />

    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700&display=swap" rel="stylesheet">
    <title>Pageflow Next Showcase</title>
    <%= social_share_meta_tags_for(@entry) %>
    <%= meta_tags_for_entry(@entry) %>

    <%= javascript_include_tag 'pageflow/videojs' %>
    <%= javascript_include_tag 'pageflow_scrolled/legacy' %>

    <%= stylesheet_pack_tag 'pageflow-scrolled-theme' %>

    <%= render_widget_head_fragments(@entry, scope: @widget_scope) %>

    <% if Rails.env.development? %>
      <script>
        try {
          if (window.top !== window) {
            window.__REACT_DEVTOOLS_GLOBAL_HOOK__ = window.top.__REACT_DEVTOOLS_GLOBAL_HOOK__;
          }
        } catch (e) {
          console.warn('unable to connect to top frame for connecting dev tools');
        }
      </script>
    <% end %>
  </head>
  <body>
    <%= structured_data_for_entry(@entry) unless @skip_structured_data %>

    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root"><%= render_scrolled_entry(@entry) unless @skip_ssr %></div>

    <div id='template-widget-container'>
      <%= render_widgets(@entry, scope: @widget_scope, insert_point: :bottom_of_entry) %>
    </div>

    <%= javascript_pack_tag 'pageflow-scrolled-frontend' %>

    <%= scrolled_entry_json_seed_script_tag(@entry, @seed_options || {}) %>
  </body>
<% end %>
