<section class="overview">
  <div class="content">
    <a class="close button">
      <span class="label"><%= t('.close') %></span>
    </a>
    <h2><%= t('.overview') %></h2>

    <a class="scroll_indicator left button" tabindex="1" title="<%= t('.scroll_left') %>"><span class="hint"><%= t('.scroll_left') %></span></a>

    <div class="wrapper">
      <div class="scroller">
        <%= render :partial => 'pageflow/entries/overview/chapter', :collection => entry.chapters,
                   :locals => {:chapters_count => entry.chapters.count} %>
      </div>
    </div>

    <a class="scroll_indicator right button" tabindex="1" title="<%= t('.scroll_right') %>"><span class="hint"><%= t('.scroll_right') %></span></a>
  </div>
</section>
