<%= content_tag(:div,
                :id => 'outer_wrapper',
                :data => {:theme => entry.theming.theme.name},
                :class => entry_css_class(entry)) do %>

  <%= render 'pageflow/entries/skip_links' %>
  <h1 class="hidden"><%= entry.title %></h1>
  <img src="<%= image_path("pageflow/themes/#{entry.theming.theme.directory_name}/logo_print.png") %>" class="print_image" alt="<%= t('.print_logo') %>">
  <span class="print_only page_url"><%= request.original_url %></span>
  <%= content_tag :div, :id => 'content', :class => 'entry', :data => {:role => 'slideshow'} do %>
    <%= render entry.pages %>

    <div class="scroll_indicator indicator"><%= t('.scroll_indicator') %></div>
    <div class="hidden_text_indicator indicator"><%= t('.swipe_indicator') %></div>
  <% end %>

  <%= render 'pageflow/entries/header', :entry => entry %>
  <%= render 'pageflow/entries/overview', :entry => entry %>
  <%= render_widgets(entry) %>
<% end %>
