<%= content_tag(:div,
                class: navigation_bar_css_class(entry, class: 'navigation_mobile'),
                data: {widget: 'default_mobile_navigation'}) do %>
  <div class="parent_page" title="<%= t('pageflow.public.back') %>"></div>
  <div class="menu index"></div>
  <div class="menu sharing"></div>
  <div class="menu imprint"></div>
  <div class="overview_mobile">
      <span class="heading-1"><%= t('pageflow.public.overview') %></span>
      <div class="wrapper">
        <ul class="pages">
          <%= render :partial => 'pageflow/entries/mobile_navigation/page',
                     :collection => entry_mobile_navigation_pages(entry) %>
        </ul>
      </div>
  </div>
  <div class="sharing_mobile">
    <div class="wrapper">
      <ul>
        <% entry.active_share_providers.each do |provider| %>
          <li>
            <%= render "pageflow/entries/share_menu/#{provider}_link", entry: entry %>
          </li>
        <% end  %>
      </ul>
    </div>
    <div class="sub_share">
      <a target="_blank"><%= I18n.t('pageflow.public.share_this_entry') %></a>
      <a target="_blank"><%= I18n.t('pageflow.public.share_this_page') %></a>
    </div>
  </div>
  <div class="imprint_mobile">
      <span class="heading-1"><%= t('pageflow.public.imprint') %></span>
      <div class="wrapper">
        <ul>
          <li class="credits">
            <%= render 'pageflow/entries/navigation/credits_box_content', :entry =>  entry %>
          </li>
        </ul>
      </div>
  </div>
<% end %>
