<% content_for(:head) do %>
    <%= entry_theme_stylesheet_link_tag(@entry) %>
    <%= entry_stylesheet_link_tag(@entry) %>
    <%= stylesheet_link_tag 'pageflow/editor', media: "all" %>
    <%= javascript_include_tag 'pageflow/editor' %>
<% end %>

<main class="ui-layout-center">
</main>

<sidebar class="ui-layout-east editor">
  <div class="scrolling">
    <div class="notifications_container"></div>
    <div class="container"></div>
  </div>
  <div class="help_button_container"></div>
</sidebar>

<div class="dialog_container">
</div>

<%= form_for editor_entry_files_path(@entry, collection_name: 'image_files'), :html => {:multipart => true, :id => 'upload'} do |f| %>
  <%= f.file_field :attachment, :multiple => true, :name => 'image_file[attachment]' %>
<% end %>

<script>
  I18n.defaultLocale = "<%= I18n.default_locale %>";
  I18n.locale = "<%= I18n.locale %>";

  jQuery(function() {
    pageflow.features.detect().then(function() {
      pageflow.app.start({
        root: '<%= edit_entry_path(@entry).html_safe %>',
        config: <%= editor_config_seeds %>,

        entry: <%= render_json_seed(@entry) %>,
        chapters: <%= @entry.chapters.to_json.html_safe %>,
        pages: <%= @entry.pages.to_json.html_safe %>,

        files: {
          <% Pageflow.config.file_types.each do |file_type| %>
            <%= file_type.collection_name %>: <%= render_json_partial(partial: 'pageflow/editor/files/file', collection: @entry.files(file_type.model), locals: {file_type: file_type}, as: :file) %>,
          <% end %>
        },

        theming: <%= render_json_seed(@entry.theming) %>,
        page_types: <%= page_type_json_seeds %>
      });
    });
  });
</script>

<%= page_type_templates %>

<%= render('pageflow/editor/entries/analytics', entry: @entry) %>
