<% content_for(:head) do %>
    <%= stylesheet_link_tag('pageflow/application_with_simulated_media_queries', media: 'all', 'data-turbolinks-track' => true) %>
    <%= entry_theme_stylesheet_link_tag(@entry) %>
    <%= entry_stylesheet_link_tag(@entry) %>
    <%= stylesheet_link_tag 'pageflow/editor', media: "all" %>
    <%= javascript_include_tag 'pageflow/editor' %>
<% end %>

<main class="ui-layout-center">
</main>

<sidebar class="ui-layout-east editor">
  <div class="scrolling">
    <div class="notifications_container"></div>
    <div class="container"></div>
  </div>
  <div class="help_button_container"></div>
</sidebar>

<div class="dialog_container">
</div>

<%= form_for editor_entry_files_path(@entry, collection_name: 'image_files'), :html => {:multipart => true, :id => 'upload'} do |f| %>
  <%= f.file_field :attachment, :multiple => true, :name => 'image_file[attachment]' %>
<% end %>

<script>
  I18n.defaultLocale = "<%= I18n.default_locale %>";
  I18n.locale = "<%= I18n.locale %>";

  pageflow.startEditor({entryId: <%= @entry.id %>})
</script>

<% I18n.with_locale(@entry.locale) do %>
  <%= page_type_templates %>
<% end %>

<%= render('pageflow/editor/entries/help_entries_seed', config: @entry_config) %>
<%= render('pageflow/editor/entries/analytics', entry: @entry) %>
