<div class="box">
  <h2><%= I18n.t('pageflow.editor.templates.background_positioning.title') %></h2>
  <p><%= I18n.t('pageflow.editor.templates.background_positioning.help') %></p>

  <div class="wrapper">
  </div>

  <h3><%= I18n.t('pageflow.editor.templates.background_positioning.preview_title') %></h3>
  <div class="previews">
    <div>
    </div>
  </div>

  <div class="footer">
    <a href="" class="save"><%= I18n.t('pageflow.editor.templates.background_positioning.save') %></a>
    <a href="" class="close"><%= I18n.t('pageflow.editor.templates.background_positioning.cancel') %></a>
  </div>
</div>
