<div class="box">
  <h1 class="dialog-header"><%= I18n.t('pageflow.editor.templates.confirm_upload.header') %></h1>
  <p class="dialog-hint"><%= I18n.t('pageflow.editor.templates.confirm_upload.hint') %></p>

  <div class="files_panel">
  </div>

  <div class="selected_file_panel">
    <h2><%= I18n.t('pageflow.editor.templates.confirm_upload.edit_file_header') %></h2>
    <div class="selected_file_region">
    </div>
  </div>

  <div class="footer">
    <button class="upload"><%= I18n.t('pageflow.editor.templates.confirm_upload.upload') %></button>
    <button class="close"><%= I18n.t('pageflow.editor.templates.confirm_upload.close') %></button>
  </div>
</div>
