<a class="close" href="#"><%= I18n.t('pageflow.editor.templates.edit_entry.close') %></a>
<a class="publish" href="#"><%= I18n.t('pageflow.editor.templates.edit_entry.publish') %></a>

<ul class="menu">
  <li>
    <a class="edit_entry_meta_data" href="#" data-path="/meta_data"><%= I18n.t('pageflow.editor.templates.edit_entry.metadata') %></a>
    <span class="failure_icon" title="<%= I18n.t('pageflow.editor.templates.edit_entry.save_error') %>" />
  </li>
  <li>
    <a class="manage_files" href="#" data-path="/files"><%= I18n.t('pageflow.editor.templates.edit_entry.manage_files') %></a>
  </li>
</ul>

<h2><%= I18n.t('pageflow.editor.templates.edit_entry.outline') %></h2>

<ul class="chapters outline navigatable">
</ul>

<a class="add_chapter" href=""><%= I18n.t('pageflow.editor.templates.edit_entry.new_chapter') %></a>
