<% @editor_scope = true %>

<% content_for(:head) do %>
  <%= editor_entry_type_fragment(@entry, :head) %>

  <%= entry_theme_stylesheet_link_tag(@entry) %>
  <%= entry_stylesheet_link_tag(@entry) %>
<% end %>

<main class="ui-layout-center">
  <%= content_tag(:div, '', id: 'entry_preview', dir: text_direction(@entry.locale)) %>
  <div id="main_content"></div>
  <div id="editor_indicators"></div>
</main>

<sidebar class="ui-layout-east editor">
  <div class="scrolling">
    <div class="notifications_container"></div>
    <div class="container"></div>
  </div>
  <div class="sidebar_footer_container"></div>
</sidebar>

<div class="dialog_container">
</div>

<div class="editor" id="editor_menu_container">
</div>

<%= form_tag '#', :multipart => true, :id => 'upload' do %>
  <%= file_field_tag :file, :multiple => true %>
<% end %>

<script>
  I18n.defaultLocale = "<%= I18n.default_locale %>";
  I18n.locale = "<%= I18n.locale %>";
  I18n.fallbacks = true;

  pageflow.startEditor({entryId: <%= @entry.id %>})
</script>

<%= editor_entry_type_fragment(@entry, :body) %>

<%= render('pageflow/editor/entries/help_entries_seed', config: @entry_config) %>

<%= render('pageflow/editor/entries/analytics', entry: @entry) %>
<%= render('pageflow/editor/entries/unsupported_browser_hint') %>
