<%= content_tag(:div,
                id: 'outer_wrapper',
                data: {theme: entry.theme.name},
                class: entry_css_class(entry)) do %>
  <%= structured_data_for_entry(entry) if Pageflow.config_for(entry).features.enabled?('structured_data') %>

  <%= render 'pageflow_paged/entries/skip_links' %>

  <h1 class="hidden"><%= entry.title %></h1>

  <img src="<%= image_path(entry.theme.print_logo_path) %>" class="print_image" alt="<%= t('pageflow.public.logo') %>">
  <span class="print_only page_url"><%= request.original_url %></span>

  <%= content_tag :div, :id => 'content', :class => 'entry', :data => {:role => 'slideshow'} do %>
    <%= render(partial: 'pageflow_paged/chapters/chapter',
               collection: entry.chapters,
               locals: {entry: entry}) %>
    <%= render 'pageflow_paged/entries/indicators', theme: entry.theme %>
  <% end %>

  <%= render 'pageflow_paged/entries/header', entry: entry %>
  <%= render 'pageflow_paged/entries/overview', entry: entry %>
  <%= render_widgets(entry, scope: widget_scope, insert_point: :bottom_of_entry) %>
<% end %>
