<div class="multimedia_alert">
  <div class="multimedia_alert_box">
    <div class="alert_block">
    <div class="alert_headline"><%= t('pageflow.public.notice') %></div>
    <div class="alert_icon speaker"></div>
      <p>
        <%= t('pageflow.public.sound_hint') %>
      </p>
    </div>
    <div class="alert_block">
      <div class="alert_icon scrolling"></div>
      <p class="scroll_hint desktop">
        <%= t('pageflow.public.scroll_hint') %>
      </p>
      <p class="scroll_hint mobile">
        <%= t('pageflow.public.swipe_hint') %>
      </p>
      <a class="close" href="#" tabindex="1"><%= t('pageflow.public.lets_go') %></a>
    </div>
  </div>
</div>
