<a class="navigation_scroll_indicator bottom" tabindex="2">
  <span class="hint"><%= t('pageflow.public.scroll_down') %></span>
</a>
<ul class="navigation_bar_bottom">
  <li class="indicator">
  </li>
  <li class="fullscreen">
    <a class="navigation_bullet navigation_fullscreen" tabindex="2"
       title="<%= t('pageflow.public.enter_fullscreen') %>" data-active-title="<%= t('pageflow.public.leave_fullscreen') %>">
      <span class="button"></span>
    </a>
  </li>
  <li class="hide_text">
    <a class="navigation_bullet navigation_hide_text" tabindex="2" title="<%= t('pageflow.public.hide_text') %>" data-active-title="<%= t('pageflow.public.show_text') %>">
      <span class="button"></span>
    </a>
  </li>
  <li class="navigation_menu mute">
    <div class="navigation_menu_box navigation_volume_box" title="<%= t('pageflow.public.volume') %>">
      <div class="volume-control" style="display: block;">
        <div class="volume-slider">
          <div class="volume-level" style="width: 100%;"><span class="volume-control-text"></span></div>
          <div class="volume-handle" style="left: 100%;"></div>
        </div>
      </div>
    </div>
    <a class="navigation_menu" tabindex="2">
      <span class="navigation_bg navigation_mute" title="<%= t('pageflow.public.volume') %>" data-muted-title="<%= t('pageflow.public.mute_off') %>" data-not-muted-title="<%= t('pageflow.public.mute_on') %>"></span>
    </a>
  </li>
</ul>
