<ul class="navigation_bar_top">
  <li class="menu_li">
    <a id="navigation" class="navigation_bullet navigation_main" tabindex="2" title="<%= t('pageflow.public.open_navigation') %>" data-active-title="<%= t('pageflow.public.close_navigation') %>">
      <span class="hint"><%= t('pageflow.public.open_navigation') %></span>
      <span class="button"></span>
    </a>
  </li>
  <%= render('pageflow/entries/navigation/home_button', home_button: entry.home_button) %>
  <li>
    <a class="navigation_bullet navigation_top" <%= "href=##{entry.pages.first.perma_id} data-link=#{entry.pages.first.id}" unless entry.pages.nil? || entry.pages.first.nil? %> tabindex="2" title="<%= t('pageflow.public.navigate_top') %>">
      <span class="hint"><%= t('pageflow.public.navigate_top') %></span>
      <span class="button"></span>
    </a>
  </li>
  <%= render('pageflow/entries/navigation/overview_button', overview_button: entry.overview_button) %>
  <li class="navigation_menu share" tabindex="2">
    <div class="navigation_menu_box navigation_share_box">
      <%= render 'pageflow/entries/navigation/share_box_content', :entry => entry %>
    </div>
    <a title="<%= t('pageflow.public.share') %>">
      <span class="hint"><%= t('pageflow.public.share') %></span>
      <span class="navigation_bg navigation_share button"></span>
    </a>
  </li>
  <li class="navigation_menu" tabindex="2">
    <div class="navigation_menu_box navigation_credits_box">
      <%= render 'pageflow/entries/navigation/credits_box_content', :entry => entry %>
    </div>
    <a title="<%= t('pageflow.public.imprint') %>">
      <span class="hint"><%= t('pageflow.public.imprint') %></span>
      <span class="navigation_bg navigation_credits button"></span>
    </a>
  </li>
</ul>
<a class="navigation_scroll_indicator top" tabindex="2">
  <span class="hint"><%= t('pageflow.public.scroll_up') %></span>
</a>
