<li class="<%= page_navigation_css_class(page) %>">
  <%= link_to "##{page.perma_id}", :data => {:link => page.id, :chapter_id => page.chapter_id} do %>
    <%= image_tag('', data: {src: asset_path(page_thumbnail_url(page, :navigation_thumbnail_small))}, width: 85, height: 47) %>
    <%= page.title %>
  <% end %>
  <div class="navigation_site_detail">
    <%= page.title %>
    <div class="thumbnail is_<%= page.template %>">
      <%= image_tag('', data: {src: asset_path(page_thumbnail_url(page, :navigation_thumbnail_large))}) %>
    </div>
  </div>
</li>
