<div class="share_box_icons">
  <%= render 'pageflow/entries/share_menu/facebook_link', entry: entry %>
  <%= render 'pageflow/entries/share_menu/twitter_link', entry: entry %>
  <%= render 'pageflow/entries/share_menu/linked_in_link', entry: entry %>
  <%= render 'pageflow/entries/share_menu/email_link', entry: entry %>
</div>
<div class="sub_share">
  <a tabindex="2" target="_blank"><%= I18n.t('pageflow.public.share_this_entry') %></a>
  <a tabindex="2" target="_blank"><%= I18n.t('pageflow.public.share_this_page') %></a>
</div>