<div class="overview">
  <div class="content">
    <a class="close button">
      <span class="label"><%= t('pageflow.public.close') %></span>
    </a>
    <div class="overview_headline"><%= t('pageflow.public.overview') %></div>

    <a class="overview_scroll_indicator left button"
       tabindex="1"
       title="<%= t('pageflow.public.scroll_left') %>">
      <span class="hint"><%= t('pageflow.public.scroll_left') %></span>
    </a>

    <div class="wrapper">
      <div class="scroller">
        <%= render(partial: 'pageflow_paged/entries/overview/chapter',
                   collection: entry.main_storyline_chapters,
                   locals: {chapters_count: entry.main_storyline_chapters.count}) %>
      </div>
    </div>

    <a class="overview_scroll_indicator right button"
       tabindex="1"
       title="<%= t('pageflow.public.scroll_right') %>">
      <span class="hint"><%= t('pageflow.public.scroll_right') %></span>
    </a>
  </div>
</div>
