<label>
  <span class="name"></span>
  <span class="inline_help"></span>
</label>

<!-- inline style for wysihtml5 to pick up -->
<textarea style="width: 100%;" dir="auto"></textarea>

<div class="toolbar">
  <a data-wysihtml5-command="bold" title="<%= I18n.t('pageflow.ui.templates.inputs.text_area_input.bold') %>"></a>
  <a data-wysihtml5-command="italic" title="<%= I18n.t('pageflow.ui.templates.inputs.text_area_input.italic') %>"></a>
  <a data-wysihtml5-command="underline" title="<%= I18n.t('pageflow.ui.templates.inputs.text_area_input.underline') %>"></a>
  <a data-wysihtml5-command="createLink" title="<%= I18n.t('pageflow.ui.templates.inputs.text_area_input.create_link') %>"></a>

  <div data-wysihtml5-dialog="createLink" class="dialog" style="display: none;">
    <div class="link_type_select">
      <label>
        <input type="radio" name="link_type" class="url_link_radio_button">
        <%= I18n.t('pageflow.ui.templates.inputs.text_area_input.link_type.url') %>
      </label>
      <label>
        <input type="radio" name="link_type" class="fragment_link_radio_button">
        <%= I18n.t('pageflow.ui.templates.inputs.text_area_input.link_type.page_link') %>
      </label>
    </div>
    <div class="url_link_panel">
      <label>
        <%= I18n.t('pageflow.ui.templates.inputs.text_area_input.target') %>
      </label>
      <input type="text" class="display_url">
    </div>
    <div class="fragment_link_panel">
      <!-- LinkInputView is inserted here -->
    </div>

    <!-- wysihtml5 does not handle hidden fields correctly -->
    <div class="internal">
      <input type="text" data-wysihtml5-dialog-field="href" class="current_url" value="http://">
    </div>

    <a data-wysihtml5-dialog-action="save"><%= I18n.t('pageflow.ui.templates.inputs.text_area_input.ok') %></a>
    <a data-wysihtml5-dialog-action="cancel"><%= I18n.t('pageflow.ui.templates.inputs.text_area_input.cancel') %></a>
  </div>
</div>
