<%= admin_form_for(@invitation_form, url: invitation_admin_users_path) do |f| %>
  <%= f.semantic_fields_for(@invitation_form.membership) do |m| %>
    <%= f.semantic_fields_for(@invitation_form.user) do |u| %>
      <% if @invitation_form.existing_member %>
        <ul class="errors">
          <li>
            <%= t('pageflow.admin.users.member_exists') %>
            <%= link_to(t('pageflow.admin.users.member_exists_link'),
                        admin_user_path(@invitation_form.existing_member)) %>
          </li>
        </ul>
      <% end %>

      <%= f.inputs do %>
        <%= m.input :entity_id,
                    as: :searchable_select,
                    ajax: {
                      resource: Pageflow::Account,
                      collection_name: :member_addable
                    },
                    include_blank: false,
                    label: Pageflow::Membership.human_attribute_name(:account) %>

        <div id="quota_state_container">
          <% if @invitation_form.initial_account %>
            <%= users_quota_state(@invitation_form.initial_account) %>
          <% end %>
        </div>
      <% end %>

      <%= f.inputs "Details", id: 'invitation_form_details' do %>
        <%= u.input :email, hint: I18n.t('pageflow.admin.users.email_invitation_hint') %>
        <%= u.input :first_name %>
        <%= u.input :last_name %>
        <%= u.input :locale,
                    as: :select,
                    include_blank: false,
                    collection: available_locales_collection %>

        <%= m.input :role,
                    collection: membership_roles_collection('Pageflow::Account'),
                    include_blank: false %>
        <%= render 'admin/memberships/role_hint', entity_type: 'account' %>
        <%= u.input :admin if authorized?(:set_admin, current_user) %>
      <% end %>
    <% end %>
  <% end %>
  <%= f.actions do %>
    <%= f.action :submit, label: t('pageflow.admin.users.invite_user') %>
  <% end %>
<% end %>
